body {
    background-color: #cccccc;
    width: 95%;
    margin: auto;
    line-height: 1.;
    color: black;
}

div.container {
    background-color: white;
    padding: 15px;
    width: 800px;
    height: 550px;
    margin: auto;
    margin-top: 55px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.288);
    border-radius: 8px;
    text-align: center;
    border-style: solid;
    border-color: rgba(43, 43, 43, 0.589);
}
div.compet{
    margin-top: 45px;
}
div.contatos{
    margin-top: 25px;
}
h2,
h3,
h4 {
    font-family: 'Rubik', sans-serif;
}

em {
    font-family: 'Inter', sans-serif;
}

img.icon {
    height: 32px;
    width: 32px;
}

img.profile {
    border-radius: 85px;
}