* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: rgb(3, 84, 121);
    width: 95%;
    margin: auto;
    color: #1e1f28;
    background: linear-gradient(42deg, rgba(3, 84, 121, 1) 0%, rgba(0, 30, 44, 1) 100%);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #1e1f28;
}

h2 a {
    color: #2fc18c;
    transition: all 0.2s;
}

div#container {
    background-color: #d9d9d9;
    padding: 15px;
    max-width: 700px;
    height: 500px;
    margin: auto;
    margin-top: 55px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.288);
    border-radius: 8px;
    text-align: center;
    border-style: solid;
    border-color: #b7b7b7;
    border-width: 5px;
    margin-top: 110px;
}

div#profile {
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
}

div#text {
    margin-top: 110px;
}

div#description {
    margin-top: 50px;
}

div#button {
    margin-top: 128px;
    margin-left: -15px;
    margin-right: -15px;
}

div#contatos {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 28px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Rubik', sans-serif;
}

h1.name {
    font-size: 37px;
    letter-spacing: 2px;
    color: #1e6686;
}

h2.me {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.5;
}

h3.description {
    margin-top: 33px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 200;
    line-height: 1.8;
}

img.icon {
    height: 64px;
    width: 64px;
}

img.profile {
    border-radius: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.288);
    border-style: solid;
    border-color: #1e6686;
    border-width: 4px;
    width: 178px;
}

button {
    display: inline-block;
    background: none;
    border: 2px solid black;
    border-radius: 3px;
    padding: 15px 32px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    transition: all 0.3s;
}

button:hover {
    background-color: #001e2c;
    border-color: white;
}

button a:hover {
    color: #b7b7b7;
}

h2 a:hover {
    color: #26916a;
}

