* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: #222222;
}

a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

span {
    font-weight: bold;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  nav */

.topbar-bg {
    background: #000;
    border-bottom: 2px solid #ed518000;
    transition: all 0.3s;
}

.topbar-bg:hover {
    background: #0e0e0e;
}

.topbar {
    max-width: 960px;
    margin: 0 auto;
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.topbar li a {
    color: #e9e9f4;
}

.profile-picture-box {
    margin: 9px 15px;
    float: left;
}

.topbar-name {
    margin: 0 1px;
    font-family: 'Roboto Mono', monospace;
}

.topbar ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1px;
}

.topbar a {
    font-size: 1em;
    display: block;
    padding: 8px;
    transition: all 0.3s;
    border-bottom: 2px solid #24252600;
}

.topbar-name a {
    font-size: 1.5em;
    font-weight: bold;
}

.topbar a:hover {
    color: #ed5181;
    border-bottom: 2px solid #ed5181;
}

.topbar a:active {
    color: #c44369;
    border-bottom: 2px solid #c44369;
}

/* Main */
#main {
    background-image: url("https://www.wallpapertip.com/wmimgs/2-22162_dark-minimalist-desktop-backgrounds.jpg");
    background-size: cover;
    background-position: top center;
    top: 0;
    position: relative;
    z-index: 1;
}

.blur {
    position: absolute;
    z-index: -1;
    background: rgba(255, 255, 255, 0.041);
    backdrop-filter: blur(10px);
    min-height: 100%;
    width: 100%;
    height: auto;
    top: 0px;
}
.main div {
    max-width: 960px;
    margin: 0px auto;
    padding: 20px 20px; 
    font-family: "Roboto Mono", monospace; 
}
.main h1 {
    color: white;
    font-size: 4em;
    margin: 0 auto;
    transition: all 0.5s;
}
.main span {
    color: #ed5181;
    text-decoration: underline;
    transition: all 0.5s;
}
.main span:hover {
    color: white;
}



/* Resume */
#resume {
    background: #15161c;
}

.resume {
    background-color: #2425269f;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    transition: all 0.6s;
}

.resume:hover {
    border-bottom: 2px solid #ed5181;
    border-top: 2px solid #ed5181;
    background-color: #0e0e0e9f;
}

.resume h1 {
    color: white;
    font-size: 4em;
    transition: all 0.5s;
}

.resume h1:hover {
    color: #ed5181;
}

.resume p {
    color: #e9e9f4;
    font-family: "Roboto Mono", monospace;
    font-size: 1.3em;
    line-height: 1.4;
    margin: 10px 0;
    padding: 0.60em 1.25em;
    transition: all 0.5s;
}

.resume p:hover {
    background: #1112139f;
    color: #ed5181;
}

/* Competências */

#competencias {
    background: tomato;
    padding: 20px 20px;
    text-align: center;
}

#competencias h1 {
    font-size: 4em;
}

.competencias {
    max-width: 1300px;
}


/* Projetos */

#projetos {
    background: blueviolet;
}

/* Contatos*/

#contatos {
    background: tomato;
}